body {
    background-color: lightcyan;
}

h1 {
    color:crimson;
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    font-weight: bold;
}

p.desc {
    color:hotpink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-family: fantasy;
}

.tab {
    overflow: hidden;
    border: 2px solid black;
    background-color: white;
}

.tab button {
    background-color: inherit;
    float: left;
    transition: 0.3s;
    padding: 20px 40px;
    color:crimson;
    font-family: fantasy;
    font-size: 15px;
}

.tab button:hover {
    background-color: blueviolet;
    color:white
}

.tab button.active {
    background-color: blueviolet;
    color: white;
}

.buttontab {
    background-color: aqua;
}

.picstab {
    background-color: beige;
}

.ideastab {
    background-color: aliceblue;
}

.messagetab {
    background-color: burlywood;
}

.tabclick {
    display: none;
}
